@model IEnumerable<ShoppingCart>

@{
    ViewBag.Title = "List Orders";
}

<h1>List Orders</h1>

<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-2 text-center">Customer's Email</th>
            <th class="col-3 text-center">Purchase Time</th>
            <th class="col-3 text-center">Details</th>
            <th class="col-2 text-center">Amount</th>
            <th class="col-2 text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cart in Model) 
        {
            var totalAmount = cart.GetTotalAmount();
        <tr class="d-flex">
            <td class="col-2" style="word-break:break-all">@cart.User.UserName</td>
            <td class="col-3 text-center">@cart.PurchaseTime</td>
            <td class="col-3 text-center">
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseDetails_@cart.Id" aria-expanded="false" aria-controls="collapseExample">
                    Details
                </button>
                <div class="collapse" id="collapseDetails_@cart.Id">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in cart.Items)
                            {
                                <tr>
                                    <td>@item.Food.Name</td>
                                    <td>@item.Food.Price</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="col-2 text-center">@String.Format("{0:C}",totalAmount)</td>
            <td class="col-2 text-center">
                <form asp-action="DeleteCart" asp-controller="ShoppingCart" asp-route-shoppingCartId="@cart.Id" method="post">
                    <a asp-action="ConfirmCart" asp-route-cartId="@cart.Id" class="btn btn-success m-1">Confirm</a>
                    <button type="submit" class="btn btn-danger m-1">Cancel</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
